VITE_API_URL=http://localhost:3001/api
VITE_APP_NAME=ElectroHub

PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=ecommerce
JWT_SECRET=change-me-minimum-32-characters
JWT_EXPIRE=15m
REFRESH_TOKEN_SECRET=change-me-refresh-minimum-32-chars
REFRESH_TOKEN_EXPIRE=7d
CORS_ORIGIN=http://localhost:5173
